body {
    background-color: rgb(79, 79, 214);
    font-family: Arial, Helvetica, sans-serif;

}

header {
    color: #ffffff;
    text-align: center;
}

section {
    background-color: #ffffff;
    width: 500px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.459);
    margin: auto;
    padding: 15px;
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    color: #ffffff;
    text-align: center;
    font-style: italic;
}